# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox

# Database
db_data/

# IDEs
.idea/
.vscode/
